@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");

$primary-color: #b3a1a1;
$secondary-color: #8fb39a;
$white-color: #f9f6f6;
$black-color: #2c2829;

$font-size: 16px;
$font-numans: "Numans";
